.title-banner {
    text-shadow: 2px 2px 4px #000000;
}
#portfolio .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.masthead {
    min-height: 350px;
    height: auto;
    padding-top: 0px;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.title-banner {
    color: #fff;
    font-size: 70px !important;
}
.portfolio-item {
    height: 225px;
}
.portfolio-item .caption-content {
    width: 100%;
}
.item-1 {
    background: #096cab url(../img/h_admin.png) no-repeat 25% 30%;
}
.item-2 {
    background: #082b52 url(../img/h_teacher.png) no-repeat 25% 30%;
}
.item-3 {
    background: #64b8c0 url(../img/h_students.png) no-repeat 25% 30%;
}
.item-4 {
    background: #ad820b url(../img/h_parents.png) no-repeat 25% 30%;
}
.portfolio-item .caption .caption-content {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.caption-content .caption-text {
    text-align: center !important;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700 !important;
}
.content-section {
    padding-top: 0rem;
    padding-bottom: 1.0rem;
}
.navbar-light .navbar-brand {
    color: #464a4e;
    font-weight: 600;
    font-size: 25px;
}
.manager-center .col-sm-6 {
    padding-top: 10px;
    /*background-color: #b7a65c8c;*/
}

/*Trungtam ql*/
.image-full {
    width: 100%;
}
#footer_ioc {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
/*can bo quan ly*/
.box-epmt .panel-image { 
    text-align: left; 
    margin-bottom: 20px;
}

.box-epmt .panel-image figure { margin: 0; position: relative; }

.box-epmt .panel-image figure img { max-width: 100%; display: block; position: relative; }

.box-epmt .panel-image figcaption { position: absolute; top: 0; left: 0; padding: 10px; background: #E4F1FE; color: #ed4e6e; }

.box-epmt .panel-image figcaption h3 { margin: 0; padding: 0; color: #2c3f52; }

.box-epmt .panel-image figcaption a { text-align: center; padding: 5px 10px; border-radius: 2px; display: inline-block; background: #ed4e6e; color: #fff; transition: 0.5s; opacity: 0; }

/* Caption Style 3 */
.box-epmt .cs-style-3 figure { overflow: hidden; }

.box-epmt .cs-style-3 figure img { -webkit-transition: -webkit-transform 0.4s; -moz-transition: -moz-transform 0.4s; transition: transform 0.4s; }

.box-epmt .cs-style-3 figure:hover img { /* -webkit-transform: translateY(-50px);
-moz-transform: translateY(-50px);
-ms-transform: translateY(-50px);
transform: translateY(-50px); */ }

.box-epmt .cs-style-3 figcaption { width: 100%; top: auto; bottom: 0; opacity: 0.6; transition: 0.7s; }

.box-epmt .cs-style-3 figure:hover figcaption { opacity: 1; }
.box-epmt .cs-style-3 figure:hover figcaption a { opacity: 1; }

.box-epmt .cs-style-3 figcaption a { position: absolute; bottom: 20px; 
    right: 5px; 
    font-size: 13px;
}

#giao_vien .box-epmt .cs-style-3 figcaption a { 
    position: absolute; 
    bottom: 12px; 
    right: 5px; 
}
.hyper-link {
font-size: 20px;
}