body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #f4f4f4;
}
.card-style{
	display: flex;
	justify-content: space-between;
}
.card-style img:hover{
	-webkit-transform: rotateY(360deg); 
	transition: 0.9s;
}
.card-style h3{
	color: #ff6f00;
}
.card-title{
	background: #075390;
}
.col-6-style:hover{
	transition: 0.1s;
	transform: scale(1.1);
}
.col-6-style a{
	text-decoration: none;
}
.col-6-style h5{
	padding: 10px;
	text-transform: uppercase;
	color: black;
}
.card-title h5 {
	height: 45px;
	color: white;
}
h2.subtitle {
	padding: 6px 0;
	text-align: center;
	color: #00a656;
	font-weight: 600;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	font-family: arial;
}
.title_news {
	border-bottom: solid 3px #00B393;
}
.title_news a {
	background: #00B393;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	padding: 6px 15px;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none!important;
	position: relative;
}
.title_news a.view_more_index {
	background: none;
	font-size: 13px;
	color: #333;
	text-transform: none;
	padding: 0;
	padding-top: 15px;
}
.news_item a {
	color: #3b3b3b;
	/*font-weight: bold;*/
	font-size: 13px;
	text-decoration: none!important;
}
.news_item img {
	float: right;
	margin-left: 10px;
}
.news_item {
	display: table;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
	border-bottom: dashed 1px #a9a9a9;
}
iframe, img {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}