.menu {
	width: 200px;
	height: 150px;
	position: relative;
	-webkit-filter: url("#goo");
	filter: url("./../dukhach.html#goo");
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	cursor: pointer;
	border-radius: 50%;
	/*-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
	position: fixed;
	bottom: 30px;
	right: -50px;
	z-index: 1;
}

.menu-wrapper {
	position: absolute;
	left: 50%;
	bottom: 20px;
}

.menu-toggle-button,
.menu-item-bounce,
.menu-item-button {
	background: inherit;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-left: -40px;
	margin-top: -40px;
	color: #fff;
	border: none;
	outline: none;
	position: relative;
	padding: 0;
}

.menu-toggle-button {
	background: #de3241;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}

.menu-toggle-button:focus {
	outline: none;
}

.menu-toggle-icon {
	font-size: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	line-height: 80px;
}

.menu-items {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.g-menu-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}

.menu-item-bounce {
	position: absolute;
	top: 0;
	left: 0;
}

.menu-item-button {
	border-radius: 50%;
	cursor: pointer;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
	position: absolute;
	top: 0;
	left: 0;
	color: #AD4C4C;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.menu-item-button:hover {
	color: #fff;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.chat-icon:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-box-shadow: 0 2px 30px 0 rgba(46,130,255,0.8);
	box-shadow: 0 2px 30px 0 rgba(46,130,255,0.8);
}

.floated-chat-w {
	z-index: 99;
	position: fixed;
	bottom: 90px;
	right: 10px;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.floated-chat-w.show {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

#floated-chat-ai .floated-chat-i,#floated-chat-hlv .floated-chat-i {
	width: 500px;
}
.floated-chat-w .floated-chat-i {
	background-color: #fff;
	-webkit-box-shadow: 0 2px 40px 0 rgba(43,132,210,0.41);
	box-shadow: 0 2px 40px 0 rgba(43,132,210,0.41);
	border-radius: 10px;
	width: 320px;
	position: relative;
}

.floated-chat-w .floated-chat-i .chat-close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: rgba(0,0,0,0.8);
	font-size: 10px;
	cursor: pointer;
}

.floated-chat-w .chat-head {
	padding: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

.floated-chat-w .chat-head .user-w {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.floated-chat-w .chat-head .user-w.with-status .user-avatar-w {
	position: relative;
}

.floated-chat-w .chat-head .user-w .user-avatar-w {
	width: 50px;
}

.floated-chat-w .chat-head .user-w.with-status.status-green .user-avatar-w:before {
	background-color: #24b314;
}

.floated-chat-w .chat-head .user-w.with-status .user-avatar-w:before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 2px;
	right: 2px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 0px 3px #fff;
	box-shadow: 0px 0px 0px 3px #fff;
}

.floated-chat-w .chat-head .user-w .user-avatar-w .user-avatar {
	border-radius: 40px;
	overflow: hidden;
}

.floated-chat-w .chat-head .user-w .user-avatar-w .user-avatar img {
	max-width: 100%;
	height: auto;
}

.floated-chat-w .chat-head .user-w .user-name {
	padding-left: 20px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.floated-chat-w .chat-head .user-w .user-title {
	margin-bottom: 2px;
	color: #047bf8;
}

.floated-chat-w .chat-head .user-w .user-role {
	font-weight: 500;
	font-size: .81rem;
}

#floated-chat-ai .chat-messages,#floated-chat-hlv .chat-messages {
	height: 500px;
}
.floated-chat-w .chat-messages {
	padding: 20px;
	height: 300px;
	position: relative;
	overflow: hidden;
}

.floated-chat-w .chat-messages .message {
	margin-bottom: 12px;
}

.floated-chat-w .chat-messages .date-break {
	text-align: center;
	margin-bottom: 10px;
	color: rgba(0,0,0,0.4);
}

.floated-chat-w .chat-messages .message .message-content {
	color: #594939;
	padding: 10px 20px;
	background-color: #fcf6ee;
	border-radius: 20px 20px 20px 0px;
	max-width: 80%;
	display: inline-block;
	text-align: left;
}

.floated-chat-w .chat-messages .message.self {
	text-align: right;
}

.floated-chat-w .chat-messages .message.self .message-content {
	border-radius: 20px 20px 0px 20px;
	background-color: #e2efff;
	color: #2A4E7F;
}
.ps.ps--active-x>.ps__scrollbar-x-rail, .ps.ps--active-y>.ps__scrollbar-y-rail {
	display: block;
	background-color: transparent;
}

.ps>.ps__scrollbar-y-rail {
	display: none;
	position: absolute;
	opacity: 0;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	-moz-transition: background-color .2s linear, opacity .2s linear;
	-o-transition: background-color .2s linear, opacity .2s linear;
	transition: background-color .2s linear, opacity .2s linear;
	right: 0;
	width: 15px;
}

.floated-chat-w .chat-controls {
	padding: 10px;
	padding-top: 0px;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.floated-chat-w .chat-controls .message-input,.floated-chat-w .chat-controls .message-input-ai,.floated-chat-w .chat-controls .message-input-hlv {
	border: 1px solid transparent;
	background-color: #fff;
	padding: 10px;
	width: 100%;
	display: block;
	border-radius: 0px;
}

.floated-chat-w .chat-controls .chat-extra {
	text-align: left;
	padding-left: 0px;
	padding-top: 10px;
}

.floated-chat-w .chat-controls .chat-extra a {
	color: #047bf8;
	text-decoration: none;
	background-color: transparent;
	display: inline-block;
	margin-left: 10px;
	font-size: 16px;
	position: relative;
}
.floated-chat-w .chat-controls .message-input:focus,.floated-chat-w .chat-controls .message-input-bot:focus,.floated-chat-w .chat-controls .message-input-ai:focus,.floated-chat-w .chat-controls .message-input-hlv:focus  {
	outline: none;
	border-bottom: 1px solid #047bf8;
}
.menu-item-button:focus {
	outline: none !important;
}